---
version: 2.1
orbs:
  prometheus: prometheus/prometheus@0.16.0
jobs:
  test:
    # Whenever the Go version is updated here, .promu.yml should also be
    # updated.
    docker:
      - image: quay.io/prometheus/golang-builder:1.18-base
    working_directory: /go/src/github.com/prometheus/prom2json
    steps:
      - prometheus/setup_environment
      - run: make
      - prometheus/store_artifact:
          file: prom2json
workflows:
  version: 2
  prom2json:
    jobs:
      - test:
          filters:
            tags:
              only: /.*/
      - prometheus/build:
          name: build
          filters:
            tags:
              only: /.*/
      - prometheus/publish_master:
          context: org-context
          requires:
            - test
            - build
          filters:
            branches:
              only: master
      - prometheus/publish_release:
          context: org-context
          requires:
            - test
            - build
          filters:
            tags:
              only: /^v[0-9]+(\.[0-9]+){2}(-.+|[^-.]*)$/
            branches:
              ignore: /.*/
